$orange: #f3a056; // the default color for inputs borders
$sand_color: #f9e29e; // the default color for textareas borders
$purple: #d3b3f1; // the default color for buttons borders
$gray: #949393; // the default color for the authors section border
$light_blue: #a4d4ef; // the default color for the container, where form is placed
$white: #fff;
$danger: #dc3545; // color for errors: error message color and controls border
$light_red: #f19191; // color for header border
$black: #000000; // color for header border
