.button {
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  background-color: transparent;
  padding: 5px;
  outline: none;
  border: #bc8fe7 1px solid;
  border-radius: 2px;
  &:hover {
    background-color: #fbf7ff;
  }
  &:active {
    background-color: #e1d4ec;
    box-shadow: 0px 0px 10px -6px rgba(66, 68, 90, 1);
  }
  &.hasPadding {
    padding: 5px 20px;
  }
}
