<div>
  <app-search placeholder="Name course" (searchEvent)="searchCourse($event)"> </app-search>
  <ul class="course-list">
    <li *ngFor="let course of courses">
      <app-course [course]="course">
        <app-button text="Show course" (clickButton)="showCourse(course)" title="Show course"></app-button>
        <ng-template [ngIf]="isAdmin$ | async">
          <app-button [icon]="iconButtonEdit" (clickButton)="editCourse(course)" title="Edit course"></app-button>
          <app-button [icon]="iconButtonDelete" (clickButton)="openModalDelete(course)" title="Delete course"></app-button>
        </ng-template>
      </app-course>
    </li>
  </ul>
  <app-info *ngIf="isAdmin$ | async" [option]="infoOption" [isShowMessage]="!courses.length">
    <app-button routerLink="add" text="Add course"> </app-button
  ></app-info>
</div>

<app-modal [option]="optionModalDelete" [open]="isOpenModal" (closeModalEvent)="closeModal()" (okClickEvent)="confirmButtonModalDelete()">
</app-modal>
