<div>
  <app-header> </app-header>
  <div class="login_container">
    <form class="login_form" (ngSubmit)="login()" #formLogin="ngForm">
      <legend class="title">Login</legend>
      <fieldset class="login_fieldset" ngModelGroup="name">
        <label class="label">
          Email
          <input
            class="input"
            type="email"
            required
            [(ngModel)]="userData.email"
            #email="ngModel"
            name="email"
            appEmailValidate />
          <div
            class="alert"
            name="email"
            *ngIf="email.errors && (email.dirty || email.touched)">
            <p *ngIf="email.errors?.['required']">Email is required</p>
            <p *ngIf="email.errors?.['email']">
              {{ email.errors['email'].value }}
            </p>
          </div>
        </label>
        <label class="label">
          Password
          <input
            class="input"
            required
            minlength="8"
            [type]="hidePassword ? 'password' : 'text'"
            [(ngModel)]="userData.password"
            #password="ngModel"
            name="password" />
          <span class="password-icon" (click)="togglePassword()">
            <fa-icon
              class=""
              size="xs"
              [icon]="hidePassword ? eyeIcon : eyeSlashIcon">
            </fa-icon
          ></span>

          <div
            class="alert"
            name="password"
            *ngIf="password.errors && (password.dirty || password.touched)">
            <p *ngIf="password.errors?.['required']">Password is required</p>
            <p *ngIf="password.errors?.['minlength']">
              Password must be at least 8 characters
            </p>
          </div>
        </label>
        <app-button>Login</app-button>
      </fieldset>
    </form>
    <div class="question">
      <p>If you don't have an account you can</p>
      <a href="#" (click)="navigateToRegistration($event)">Registration</a>
    </div>
  </div>
</div>
