<div>
  <app-header> </app-header>
  <div class="registration_container">
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
      <legend class="title">Registration</legend>
      <fieldset class="registration_fieldset">
        <label class="label">
          Name
          <input class="input" type="text" required formControlName="name" minlength="3" />
          <div class="alert" *ngIf="name.errors && (name.dirty || name.touched)">
            <p *ngIf="name.errors?.['required']">Name is required</p>
            <p *ngIf="name.errors?.['minlength']">
              {{ nameAlertText }}
            </p>
          </div>
        </label>
        <label class="label">
          Email
          <input class="input" type="email" required formControlName="email" appEmailValidate />
          <div class="alert" name="email" *ngIf="email.errors && (email.dirty || email.touched)">
            <p *ngIf="email.errors?.['required']">Email is required</p>
            <p *ngIf="email.errors?.['email']">
              {{ email.errors['email'].value }}
            </p>
          </div>
        </label>
        <label class="label">
          Password
          <input class="input" required minlength="8" [type]="inputType" formControlName="password" />
          <span class="password-icon" (click)="handlePasswordIconClick()">
            <fa-icon class="" size="xs" [icon]="passwordIcon"> </fa-icon
          ></span>

          <div class="alert" name="password" *ngIf="password.errors && (password.dirty || password.touched)">
            <p *ngIf="password.errors?.['required']">Password is required</p>
            <p *ngIf="password.errors?.['minlength']">
              {{ passwordAlertText }}
            </p>
          </div>
        </label>
        <app-button type="submit">Registration</app-button>
      </fieldset>
    </form>
    <div class="question">
      <p>If you have an account you can</p>
      <a routerLink="/login">Login</a>
    </div>
  </div>
  <app-modal [option]="optionModalInfo" [open]="isOpenModal" (okClickEvent)="confirmButtonModal()"></app-modal>
</div>
