<div>
  <app-header>
    <div>{{ user.email }}</div>
    <app-button [text]="buttonText" (clickButton)="handleLogout()"></app-button>
  </app-header>
  <app-search placeholder="Name course" (searchEvent)="searchCourse($event)">
  </app-search>
  <app-course-list
    [courses]="filteredCourses"
    [canEdit]="true"
    (showCourseEvent)="showCourse($event)"
    (editCourseEvent)="editCourse($event)"
    (deleteCourseEvent)="deleteCourse($event)">
  </app-course-list>

  <app-info
    [option]="infoOption"
    [isShowMessage]="!courses.length"
    (addCourseEvent)="addCourse()">
    <app-button (clickButton)="addCourse()" text="Add course"> </app-button
  ></app-info>
</div>
