<div class="course">
  <div class="content">
    <h3 class="title">{{ course.title }}</h3>
    <p class="description">{{ course.description }}</p>
  </div>
  <div class="detailed-content">
    <div class="detailed-content__item"><span class="caption">Authors: </span>{{ course.authors | stringJoiner: ', ' }}</div>
    <div class="detailed-content__item"><span class="caption">Duration: </span>{{ course.duration | duration }} hours</div>
    <div class="detailed-content__item"><span class="caption">Created: </span>{{ course.creationDate | creationDate }}</div>
    <div class="buttons-container">
      <ng-content></ng-content>
    </div>
  </div>
</div>
